
/* For mobile phones: */
@media only screen and (max-width: 375px){
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        background-color:  hsl(212, 45%, 89%);
        width: 350px;
        height: 692px;
        position: absolute;
        flex-wrap: wrap;
    
    }
    .card-parent{
        box-sizing: border-box;
        border-radius: 0.5rem;
        border-style:none;
        box-shadow: 0 3px 10px hsl(220, 15%, 55%);
        width:294px ;
        height:462px;
        position:relative;
        margin-top: 50px;
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        background-color: hsl(0, 0%, 100%);
        z-index:auto;

        
    }
    .card-child > img{
        width: 270px;
        height: 256px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .card-child > section >h3{
        font-family: 'Outfit', sans-serif;
        text-decoration: none !important;
        margin-left: 25px;
    }
    
    .grid-row-span-2{
        grid-row: 1 /span 2;
    }
    
    p{
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        text-align: center;
        color:  hsl(220, 15%, 55%);
    }
}

/* For Desktop: */

    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        background-color:  hsl(212, 45%, 89%);
        width:99%;
        height: 97%;
        position: absolute;
        flex-wrap: wrap;

    
    }
    .card-parent{
        box-sizing: border-box;
        border-radius: 0.5rem;
        border-style:none;
        box-shadow: 0 3px 10px hsl(220, 15%, 55%);
        width:294px ;
        height:462px;
        position:relative;
        z-index: 8000;
        margin-top: 50px;
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        background-color: hsl(0, 0%, 100%);
        
    }
    .card-child > img{
        width: 270px;
        height: 256px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .card-child > section >h3{
        font-family: 'Outfit', sans-serif;
        text-decoration: none !important;
        color: hsl(218, 44%, 22%);
        margin-left: 25px;
    }
    
    .grid-row-span-2{
        grid-row: 1 /span 2;
    }
    
    p{
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        text-align: center;
        color:  hsl(220, 15%, 55%);
    }


